.ovladacipanel {
    -fx-background-color: #EEEEEE;
}

.prihlasovaci_jmeno {
    -fx-font-size: 2.6em;
    -fx-font-family: "Georgia";
}

.datum {
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-font-family: "Georgia";
}

.sekce_nazev {
    -fx-font-size: 1.5em;
    -fx-font-family: "Georgia";
}

/* Ucty */
.ucty_vzhled {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #e6e6e6;
    -fx-spacing: 10;
}

.ucet {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #e6e6e6, 10, 0, 0, 10);
}

.ucet VBox {
    -fx-background-color: #e6e6e6;
}

.ucet Text {
    -fx-text-fill: #000000;
    -fx-font-family: "Georgia";
    -fx-font-size: 1.5em;
}

.ucet FontAwesomeIconView {
    -fx-fill: #000000;
}

.ucet_bezny_a_sporici {
    -fx-background-color: linear-gradient(to right, #21923a, #21923a);
}

.ucet_zustatek {
    -fx-text-fill: #000000;
    -fx-font-family: "Georgia";
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.ucet_cislo {
    -fx-text-fill: #000000;
    -fx-font-family: "Georgia";
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}

/* Ucty Shrnuti */
.shrnuti {
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-alignment: center_left;
}

.ucet_shrnuti {
    -fx-padding: 3;
    -fx-spacing: 3;
    -fx-alignment: center_left;
    -fx-border-radius: 5;
    -fx-border-color: #999999;
    -fx-border-width: 1;
    -fx-border-style: dashed;
}
/*
.shrnuti Text {
    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Georgia";
    -fx-font-size: 1.2em;
}
*/
.ucet_shrnuti Line {
    -fx-stroke: #AAAAAA;
}

.prijem_castka {
    -fx-text-fill: #21923a;
    -fx-font-family: "Georgia";
    -fx-font-size: 1.5em;
}

.vydaje_castka {
    -fx-text-fill: #AA0000;
    -fx-font-family: "Georgia";
    -fx-font-size: 1.5em;
}

/* Platby */
.platby_list {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #AAAAAA;
}

.platby_list .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-padding: 15 0 15 0;
}

/* Odeslat Platbu */
.platba_nova {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.platba_nova Label {
    -fx-font-family: "Georgia";
    -fx-font-size: 1.3em;
}

.platba_nova TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.platba_nova Button {
    -fx-background-color: linear-gradient(to right, #21923a, #21923a);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Georgia";
    -fx-text-fill: #000000;
}

.platba_nova Button:hover {
    -fx-cursor: hand;
}