.prihlaseni {
    -fx-background-color: #EEEEEE;
}

/* Logo */
.prihlaseni_logo {
    -fx-background-color: #e6e6e6;
    -fx-alignment: center;
}

.prihlaseni_logo Text {
    -fx-fill: #000000;
    -fx-font-size: 2ew;
}

.prihlaseni_logo FontAwesomeIconView{
    -fx-fill: #21923a;
}

/* Druh_Uctu_Styl */
.ucet_vyber {
    -fx-background-color: #21923a;
}

.ucet_vyber .label {
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
}

.ucet_vyber .arrow {
    -fx-background-color: #000000;
}

#choice-box-menicko {
    -fx-background-color: #000000;
}
/* Registrace_Styl */
.registrace_styl Button {
    -fx-background-color: #000000;
    -fx-text-fill: #EEEEEE;
    -fx-pref-width: 170;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}
/* Prihlaseni_Styl */

.prihlaseni_styl {
    -fx-spacing: 17;
    -fx-alignment: top_left;
}

.prihlaseni_styl Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.pole_vyplneni {
    -fx-background-color: #21923a;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-text-fill: #000000;
}

.prihlaseni_styl Button {
    -fx-background-color: #000000;
    -fx-text-fill: #EEEEEE;
    -fx-pref-width: 170;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.prihlaseni_styl Button:hover {
    -fx-cursor: hand;
}

.error {
    -fx-text-fill: #FF0000;
}